<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="vendor/autoload.php"
  backupGlobals="false"
  colors="true"
  processIsolation="false"
  stopOnFailure="false"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
  cacheDirectory=".phpunit.cache"
  backupStaticProperties="false"
  stopOnDeprecation="true"
  displayDetailsOnTestsThatTriggerDeprecations="false"
>
  <coverage/>

  <testsuites>
    <testsuite name="MyPackage Test Suite">
      <directory>Tests</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>

  <php>
      <env name="APP_ENV" value="testing" />
      <env name="DB_CONNECTION" value="mysql" />
      <env name="DB_HOST" value=""/>
      <env name="DB_DATABASE" value="tests" />
      <env name="DB_USERNAME" value="user" />
      <env name="DB_PASSWORD" value="pass" />
      <env name="MAIL_MAILER" value="array" />
      <env name="QUEUE_CONNECTION" value="sync" />
      <env name="SESSION_DRIVER" value="array" />
  </php>
</phpunit>
